.profile{
    width:100%;
    position: relative;
    margin: 0;
}
.profile img{
    width:100%;
}
.profile h1{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    text-align: center;
    margin: 0;
    background-color: rgba(0, 163, 255, .8);
    width: 100%;
    padding: 8px 0px ;
}